/*colors*/

$aquamarine: rgb(116, 201, 148);
$light-aquamarine: rgb(234,247,239); /*(background for a section)*/
$yellow-white: rgb(252, 251, 228); /*(background for a section, also color of type on search button and app name)*/
$dark-blue: rgb(29, 99, 135); /*(for search button)*/
$light-blue: rgb(192,232,210); /*(for search bar)*/
$greeny-gray: rgb(95, 115, 119); /*(for type and icons)*/
$dark-gray: rgb(84, 104, 108); /*(for mouseover)*/
$darker-blue: rgb(23, 84, 115); /*(for mouseover on button)*/

/*fonts*/

$chaparral-pro: "chaparral-pro", serif;
$museo-sans: "museo-sans", sans-serif;

html, body {
  width: 100%;
  height: 100%;
}

/*TYPOGRAPHY*/

p {
	font-family: $chaparral-pro;
	color: $greeny-gray;
	font-weight: 400;
}

a {
	text-decoration: none;
	color: $greeny-gray;
}

#tagline {
	font-family: $museo-sans;
	font-weight: 100;
	color: $yellow-white;
	font-size: 1.7em;
  text-align: center;
  margin: 0 0 10% 0;
}

.tagline-post-search {
	margin: 0 0 5% 0!important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#loading {
  display: none;
}

#title {

	font-family: $chaparral-pro;
	color: $yellow-white;
	font-weight: 400;
	font-size: 5em;
  text-align: center;
  margin: 0px;
  display: inline-block;
  margin-left: 33.5%;

}

#logo {
  margin: 0 6.5% 5.4% -1%;
  height: 3.8em;

}

.icon {
  float: left;
  margin-right: 37px;
  height: 85px;
}

.category {
	font-family: $museo-sans;
	color: $greeny-gray;
	font-weight: 100;
	font-size: 3.52em;
	margin: 0 0 0.6em 0;
}

.c-subhead {
	text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin-bottom: 0.6em;
}

.section-head {
	font-family: $museo-sans;
	color: $greeny-gray;
	font-weight: 100;
	/*	font-size: ;
	letter-spacing: ;*/
}

.section-subhead {
	font-family: $museo-sans;
	color: $greeny-gray;
	font-weight: 700;
	/*	font-size: ;
	letter-spacing: ;*/
}

.hidden {
	display: none;
}

.content-collapsed {
	max-height: 68px;
  overflow: hidden;
  margin: 0;
  line-height: 1.4em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content-expanded {
  max-height: 700px;
  overflow: hidden;
  margin: 0;
  line-height: 1.4em;
	-webkit-transition: all 2s ease;
	transition: all 2s ease;
}

#companies {
  width: 100%;
  background-color: $yellow-white;
  padding: 75px 0;
}

.results_content {
  width: 65%;
  margin: 0 auto;
}

/*FORM ELEMENTS*/


#mybutton {
	background-color: $dark-blue;
  border: none;
  border-radius: 3px;
	color: $yellow-white;
	float: right;
	font-family: $museo-sans;
	font-size: 0.8em;
	font-weight: 700;
  height: 47px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
  text-decoration: none;
  padding: 10px 18px;
  width: 24%;
}

#myinput {
	border-radius: 3px;
  background-color: $light-blue;
	height: 45px;
	margin-right: 1.32%;
	width: 70%;
  padding-left: 2%;
}

input[type="text"] {
	font-family: $chaparral-pro;
  border: none;
	color: $dark-blue;
	font-weight: 400;
	font-size: 0.9em;
	padding-left: 1%;
}

/*DIVS*/

#header {
  white-space: nowrap;
}

#landing {
  width: 100%;
  height: 100%;
  background: $aquamarine;
}

.landing-post-search {
  height: 50%!important;
  -webkit-transition: all 1.0s ease;
  transition: all 1.0s ease;
}

#landing-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -300px;
  height: 285px;
  width: 600px;
}

.landing-content-post-search {
  top: 30%!important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.company-div {
	padding: 2em;
  margin: 0 auto;
  width: 70%;
}

#news {
  background-color: #fff;
}

#certifications {
  background-color: $light-aquamarine;
}

.contentToggle {
	float: right;
}

.grid_1,
.grid_2 {
	margin: 3% 2% 0 0;
	float: left;
	display: block;
}

.grid_1 { width: 12%; }
.grid_2 {
	width: 75%;
	margin-right: 0px;
}

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}

/*MEDIA QUERIES*/

@media all and (max-width: 840px) {
  #myinput {
  	width: 100%;
  	float: none;
  }

  #mybutton {
  	width: 100%;
  	float: none;
  }
}
