/*colors*/

$aquamarine: rgb(116, 201, 148);
$light-aquamarine: rgb(234,247,239); /*(background for a section)*/
$yellow-white: rgb(252, 251, 228); /*(background for a section, also color of type on search button and app name)*/
$dark-blue: rgb(29, 99, 135); /*(for search button)*/
$light-blue: rgb(192,232,210); /*(for search bar)*/
$greeny-gray: rgb(95, 115, 119); /*(for type and icons)*/

/*fonts*/

$chaparral-pro: "chaparral-pro", serif;
$museo-sans: "museo-sans", sans-serif;

body {
  background: #eee;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*TYPOGRAPHY*/

p {
	font-family: $chaparral-pro;
	color: $greeny-gray;
	font-weight: 400;
}

a {
	text-decoration: none;
	/*color: $blue;*/
}

#intro {
	font-family: $museo-sans;
	font-weight: 100;
	color: $yellow-white;
	/*line-height: 114%;
	font-size: 2.5em;
	margin: 18px 0;*/
}

#title {

	font-family: $chaparral-pro;
	color: $yellow-white;
	font-weight: 400;
	/*font-size: 1.6em;*/
}

.category {
	font-family: $museo-sans;
	color: $greeny-gray;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.5em;
	margin: 0;
	/* letter-spacing: ;*/
}

.c-subhead {
	opacity: .4;
}

.section-head {
	font-family: $museo-sans;
	color: $greeny-gray;
	font-weight: 100;
	/*	font-size: ;
	letter-spacing: ;*/
}

.section-subhead {
	font-family: $museo-sans;
	color: $greeny-gray;
	font-weight: 700;
	/*	font-size: ;
	letter-spacing: ;*/
}

.no_margin {
	margin: 0;
	line-height: 1.5em;
}

.hidden {
	display: none;
}

.content-collapsed {
	height: 100px;
	-webkit-transition: height 0.5s ease;
	transition: height 0.5s ease;
}

.content-expanded {
	height: auto;
	-webkit-transition: height 0.5s ease;
	transition: height 0.5s ease;
}


/*FORM ELEMENTS*/

#mybutton {
	background-color: $greeny-gray;
  border: none;
  border-radius: 3px;
	color: #fff;
	float: right;
	font-family: $museo-sans;
	font-size: 0.8em;
	font-weight: 700;
  height: 39px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
  text-decoration: none;
  padding: 10px 13px;
  width: 16%;
}

#myinput {
	border: 1px solid #888;
	border-radius: 3px;
	height: 35px;
	margin-right: 1.32%;
	width: 80%;
}

input[type="text"] {
	font-family: $chaparral-pro;
	color: $greeny-gray;
	font-weight: 400;
	font-size: 0.9em;
	padding-left: 1%;
}

/*DIVS*/

#intro-div {
	background-color: #fff;
	border-radius: 4px;
	border: 6px solid $greeny-gray;
	padding: 3em;
	margin-top: 7%;
	margin-bottom: 3%;
}

.company-div {
	background-color: #fff;
	padding: 2em;
	margin-top: 3%;
	margin-bottom: 3%;
	overflow: hidden;
}

.container {
	width: 68%;
	margin: auto;
}

.contentToggle {
	float: right;
}

#black-line {
	background-color: #000;
	display: inline-block;
	height: 10px;
	width: 17%;
}

.grid_1,
.grid_2,
.grid_3 {
	margin-right: 2%;
	float: left;
	display: block;
}

.grid_1 { width: 20%; }
.grid_2 { width: 60%; }
.grid_3 {
	width: 10%;
	margin-right: 0px;
}

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}

/*MEDIA QUERIES*/

@media all and (max-width: 840px) {
  #myinput {
  	width: 100%;
  	float: none;
  }

  #mybutton {
  	width: 100%;
  	float: none;
  }
}

