/*colors*/

$red: #cf4627;
$unselected-red: #ebb1a7;
$blue: #3498db;
$intro-color: #5f6062;
$body-color: #48484a;

/*fonts*/

$serif-font: "Roboto Slab", serif;
$condensed-sans: "museo-sans-condensed", sans-serif;
$reg-sans: "museo-sans", sans-serif;

body { 
  background-image: url(image-path('conscious_consumer_bar_code.png'));
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*TYPOGRAPHY*/

p {
	font-family: $serif-font;
	color: $body-color;
	font-weight: 400;
	/*font-size: ;*/
}

a {
	text-decoration: none;
	color: $blue;
}

#intro {
	font-family: $serif-font;
	font-weight: 300;
	color: $intro-color;
	font-size: 1.9em;
	margin: 18px 0; 
	/* letter-spacing: ;*/

}

#title {

	font-family: $condensed-sans;
	color: $red;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.6em; 
	letter-spacing: 0.1em;

}

.category {
	font-family: $condensed-sans;
	color: $red;
	font-weight: 700;
	text-transform: uppercase;
	/*	font-size: ; 
	letter-spacing: ;*/

}

.section-head {
	font-family: $reg-sans;
	color: $blue;
	font-weight: 100;
	/*	font-size: ; 
	letter-spacing: ;*/
}

.section-subhead {
	font-family: $reg-sans;
	color: $blue;
	font-weight: 700;
	/*	font-size: ; 
	letter-spacing: ;*/
}

/*FORM ELEMENTS*/

#mybutton {
	background-color: $red;
	font-family: $reg-sans;
	text-transform: uppercase;
	color: #fff;
	font-size: 0.8em;
	font-weight: 700;
	letter-spacing: 0.2em;
    border-radius: 3px;
    text-decoration: none;
    border: none;
    padding: 10px 13px;
    width: 18%;
    height: 39px;
}

#myinput {
	border: none;
	border-radius: 3px;
	height: 35px;
	width: 50%;
	margin-right: 1.2%;
	border: 1px solid $body-color;

}

/*DIVS*/


#intro-div {

	background-color: #fff;
	border-radius: 4px;
	border: 6px solid $blue;
	padding: 3em;
	margin-top: 8%;
}


.container {
	width: 68%;
	margin: auto;
}

#black-line {
	background-color: #000;
	display: inline-block;
	height: 10px;
	width: 17%;
}






