<!DOCTYPE html>
<html ng-app="CC">
  <head>

    <title>Tattle</title>
   

    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/freebase/suggest/4_2/suggest.min.css" />
    <%= stylesheet_link_tag 'application', media: 'all' %>


    <script type="text/javascript" src="https://www.gstatic.com/freebase/suggest/4_1/suggest.min.js"></script>
    <script type="text/javascript" src="//use.typekit.net/smx6kfu.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= javascript_include_tag 'application', controller_name %>

    <%= csrf_meta_tags %>

  </head>
  <body>
    <div id="page-top">
      <div id="intro-div">
        <div id="title-logo">
          <h1 id="title">Tattle</h1>
          <img id="logo" alt="logo" src="/assets/tattle_logo.png">
        </div>
          <h2 id="intro">Who owns what</h2>
        <form id="myform">
          <input type="text" id="myinput" placeholder="e.g. Burt's Bees"/>
          <input type="submit" value="search" id="mybutton">
        </form>
      </div>
    </div>
    <%= yield %>

  </body>
</html>
