<!DOCTYPE html>
<html ng-app="CC">
<head>
  <title>App</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', controller_name %>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/freebase/suggest/4_2/suggest.min.css" />

  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/freebase/suggest/4_1/suggest.min.js"></script>

  <script type="text/javascript" src="//use.typekit.net/smx6kfu.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script type="text/javascript">
      $(function() {
        $("#myinput").suggest({
          key: 'AIzaSyDTRAuq33BZlQnAepytW-ehI5v-tsUDccI',
          filter:'(all type:/business/business_operation)'
          // filter:'(all type:/business/brand)'
        });
      });
      $(function () {$("#myform").on('submit', function(event) {
        event.preventDefault();
        var company = $('#myinput').val();
        $.ajax({
          url: '/search',
          type: "get",
          data: {company_name: company},
          dataType: 'json'
        }).success(function(data) {
          console.log(data);
        }).fail(function(){
          console.log("you suck at programming")
        })
      });
    })
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
<form id="myform">
  <input type="text" id="myinput"/>
  <input type="submit" value="search">
</form>

<%= yield %>

</body>
</html>
